
@{
    ViewBag.Title = "MyProjects";
}

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Мои проекты</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div role="tabpanel">
    <ul class="product-tab" role="tablist">
        <li role="presentation" class="active"><a href="#approved" aria-controls="approved" role="tab" data-toggle="tab">Одобренные</a></li>
        <li role="presentation"><a href="#rejected" aria-controls="rejected" role="tab" data-toggle="tab">Отклоненные</a></li>
        <li role="presentation"><a href="#pending" aria-controls="pending" role="tab" data-toggle="tab">Ожидающие проверки</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="approved">
            <h2>Одобренные</h2>
            <p>Mauris placerat vitae lorem gravida viverra. Mauris in fringilla ex. Nulla facilisi. Etiam scelerisque tincidunt quam facilisis lobortis. In malesuada pulvinar neque a consectetur. Nunc aliquam gravida purus, non malesuada sem accumsan in. Morbi vel sodales libero.</p>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="rejected">
            <h2>Отклоненные</h2>
        </div>
        <div role="tabpanel" class="tab-pane fade in" id="pending">
            <h2>Ожидающие проверки администратором</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique, diam in consequat iaculis, est purus iaculis mauris, imperdiet facilisis ante ligula at nulla. Quisque volutpat nulla risus, id maximus ex aliquet ut. Suspendisse potenti. Nulla varius lectus id turpis dignissim porta. Quisque magna arcu, blandit quis felis vehicula, feugiat gravida diam. Nullam nec turpis ligula. Aliquam quis blandit elit, ac sodales nisl. Aliquam eget dolor eget elit malesuada aliquet. In varius lorem lorem, semper bibendum lectus lobortis ac.</p>
            <p>Mauris placerat vitae lorem gravida viverra. Mauris in fringilla ex. Nulla facilisi. Etiam scelerisque tincidunt quam facilisis lobortis. In malesuada pulvinar neque a consectetur. Nunc aliquam gravida purus, non malesuada sem accumsan in. Morbi vel sodales libero.</p>
        </div>
    </div>
</div>

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Проекты, которые я поддержал</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="single-project-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            @if (ViewBag.MyDonationProjects == null)
            {
                <p>Вы не поддержали еще ни одного проекта</p>
            }
            else
            {
                foreach (var project in ViewBag.MyDonationProjects)
                {
                    <div class="col-md-3 col-sm-6">
                        <div class="single-shop-product">
                            <div class="product-upper">
                                <img src="/Content/img/@project.Project.Avatar" alt="">
                            </div>
                            <h2><a href="/Home/Project/@project.Project.Id">@project.Project.Title</a></h2>
                            <div class="product-carousel-price">
                                <ins>вложено @project.DonationTotal</ins>
                            </div>

                            <div class="product-option-shop">
                                <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/Home/Project/@project.Id">Подробнее</a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="product-pagination text-center">
                    <nav>
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

