@model IEnumerable<ArtUp.Client.Models.ProjectViewModel>
@{
    ViewBag.Title = "WideSearchResults";
}

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Результаты поиска</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="single-project-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <a href="/Home/WideSearch">Назад к поиску</a>
        <div class="row">
            @if (!Model.Any())
            {
                <p>По вашему критерию ничего не найдено</p>
            }
            else
            {
                foreach (var project in Model)
                {
                    <div class="col-md-3 col-sm-6">
                        <div class="single-project">
                            <div class="product-upper">
                                <img src="/Content/img/@project.Avatar" alt="" style='width:263px; height:263px;'>
                                <div class="product-hover">
                                    <a href="/Home/Project/@project.Id" class="add-to-cart-link"><i class="fa fa-link"></i> Подробнее</a>
                                </div>
                            </div>
                            <h2><a href="/Home/Project/@project.Id">@project.Title</a></h2>
                            <div class="product-carousel-price">
                                <ins>осталось @(project.RequiredMoney - project.CurrentMoney) рублей</ins>
                            </div>

                            <div class="product-option-shop">

                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

