
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">

        <li><a href="/UserManagement/Users">Пользователи</a></li>
        <li><a href="/UserManagement/GetProjects">Проекты</a></li>
        <li><a href="/UserManagement/GetSettings">Настройки</a></li>

    </ul>
</div>

